<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test_bootstrap.php" 
    colors="true"
    stopOnFailure="false"
  >
  <testsuites>
    <testsuite name="Unit Test">
      <directory>./tests/</directory>
      <exclude>./tests/integration</exclude>
    </testsuite>
    <testsuite name="All">
      <directory>./tests/</directory>
    </testsuite>
    <testsuite name="Integration Test">
      <directory>./tests/integration</directory>
    </testsuite>
  </testsuites>
</phpunit>